* {
  margin: 0;
  padding: 0;
}
      
html{
  height: 100%;
  width: 100%;
}

body{
	background-image: url('img/turn.png');
	background-repeat: no-repeat;
	background-size: 100%;	
}

body > *{
	visibility: hidden;
}
