* {
  margin: 0;
  padding: 0;
}
      
html{
  height: 100%;
  width: 100%;
}
      
body {
  background: linear-gradient(#FFFFFF, #EAEFF2);
  color: #008;
  font-family: cursive;
}
      
/***********************************************/
      
a {
  background: linear-gradient(#008, #005);
  border-radius: 5px;
  color: #FFF;
  display: block;
  font-size: 1.1em;
  height: 15vh;
  line-height: 15vh;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  text-decoration: none;
  width: 75vw;
}
      
a:hover{
  background: linear-gradient(#005, #003);
}
      
h1 {
  font-size: 1.75em;
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
}


/*********************************************/

.teste{
  background: #FFF;
}

.teste a{
  border-radius: 0px;
  font-size: 1.1em;
  font-weight: bold;
  height: 10vh;
  line-height: 10vh;
  margin-top: 0vh;
  text-transform: uppercase;
  width: 100vw;
}

.teste .bottom{
  bottom: 0;
  position: fixed;
}

.teste #imgTeste{
  display: block;
  margin: auto;
  margin-top: 12vh;
  width: 73vw;
}

.teste #pergunta{
  font-size: 2.75vh;
  text-align: justify;
  padding: 4vw;
}

.teste #resposta{
  display: block;
  height: 5vh;
  margin: auto;
  text-align: center;
  width: 93vw;
}
      
.teste .top{
  position: fixed;
  top: 0;
}

.teste #lista{
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-top: 2vh;
}

.teste .resultado{
  font-size: 4.75vh;
  font-weight: normal;
  margin: auto;
  margin-top: 5vh;
  text-align: justify;
  width: 90%;
}

.teste .botResultado{
  margin-bottom: 5vh;
  margin-top: 5vh;
  width: 90vw;
}

.teste #sim{
  margin-top: 10vh;
}

.teste .hospital{
  padding: 2vw;
  font-size: 2.85vh;
  overflow-y: auto;
}


/***********************************************************/


.index{
  background: #000;
  color: #FFF;
}

.index h1{
  font-size: 5vh;
  margin: auto;
  margin-top: 5vh;
}

.index img{
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 5vh;
  height: 52.5vw;
  width: 70vw;
}


/***********************************************************/

.sobre a{
  border-radius: 0px;
  font-size: 1.1em;
  font-weight: bold;
  height: 10vh;
  line-height: 10vh;
  margin-top: 0vh;
  text-transform: uppercase;
  width: 100vw;
}

.sobre h1 {
  font-size: 3.75vh;
  margin-top: 0vh;
  margin-bottom: 0vh;
  padding-left: 5vw;
  text-align: left;
}
      
.sobre h2{
  font-size: 2.75vh;
  font-weight: normal;
  margin-top: 0vh;
  margin-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: justify;
}

.sobre .first{
  margin-top: 13vh;
}

.sobre .top{
  position: fixed;
  top: 0;
}

.sobre #listaC{
  display: block;
  font-size: 2.75vh;
  height: 80vh;
  margin: auto;
  margin-top: 1vh;
  overflow-y: auto;
  text-align: justify;
  width: 90%;
}
.sobre #listaC li{
  margin-bottom: 2vh;
   
}
